<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/error.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mx-auto">
          <div class="card card-register">
            <h2 class="title">ERREUR</h2>
            <p class="subtitle">La page demandé est introuvable</p>
            <div class="d-grid">
              <a routerLink="/home" class="btn btn-danger btn-round">Revenir au site</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
